*.log
.DS_Store
/.cache
/public/build

# ============ filter from ls -al .
/.dockerignore
/.env.local
#/.env.production
/.env.test
/.git
/.github
/.gitignore
/.idea
/.npmrc
/.scaffdog
/.storybook
#/.tool-versions
/Dockerfile
/README.md
#/app
/biome.jsonc
/build
/components.json
/docker-compose.yml
/eslint.config.js
#/index.ts
/lefthook.yml
/node_modules
#/package.json
#/pnpm-lock.yaml
#/postcss.config.js
#/prisma
#/public
#/server
/server-build
#/tailwind.config.ts
#/tsconfig.json
/vite.config.sb.ts
#/vite.config.ts
/vitest-example
/vitest.workspace.ts
google-credentials.json
