name: Basic Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: 'lint and test'
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: mydb
        ports:
          - 5456:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 1s
          --health-timeout 5s
          --health-retries 30
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version-file: .tool-versions
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: generate prisma client
        run: pnpm --filter apps/api-hono prisma generate
      - name: eslint
        run: pnpm lint
      - name: biome
        run: pnpm check
      - name: tsc
        run: pnpm typecheck
      - name: test
        run: pnpm test
